

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navegacion{
  background-color:beige;
  padding: 40px; 
  text-transform: lowercase;
}

.navegacion ul {
  list-style: none; 
}

.navegacion__menu > li {
  position: relative; 
  display: inline-block; 
  margin: 5px 10px; 
}

.navegacion__menu > li > a {
  display: block; 
  padding: 5px 20px; 
  text-decoration: none; 
  color: white; 
  background-color: burlywood; 
  width: 160px; 
  text-align: center; 
}

.navegacion__menu li a:hover {
  color: black; 
}

.h1{

color: rgb(114, 88, 2);
font-size: 3rem ;
background-color: beige ;
padding: 20px;
display: inline-block;
margin: 0 0.5rem;
animation: FlipInX;
animation-duration: 2s;

}

#header-index{
display: flex;
flex-direction: row;
    align-items: center;
    justify-content: space-between;
font-size: 2rem;
font-family: 'Segoe UI', Tahoma;
background-color: beige;
}

.gallery-conteiner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 180px;
  padding:2px;
  grid-gap: 2px;
}
.gallery__img {
   width: 100%;
   height:100%;
   object-fit: cover;


}
.gallery__item:nth-child(4) {
   grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}
 
.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
  padding-bottom: 25px;
}

.copy {
  font-size: 15px;

}
.sociales{
  width:  100%;
  text-align: center;
  font-size: 40px;
}
.sociales a{
  color: firebrick;
  text-decoration: none;


}



@media only screen and (max-width: 480px) {
  #header-index{
    flex-direction: column;
  }
  .navegacion {
    padding: 0px;
    margin-bottom: 10px;


  }
  .navegacion__menu {
    display: flex;
    padding: 0px;
  }
  .navegacion__menu li{
    margin: 0px;
    margin-right: 10px;

  }

  .navegacion__menu li a { 
    padding: 0px;
    width: 100px;
    font-size: 24px;

  }
.copy {
    font-size: 10px;
  
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px)      {
  #header-index{
    flex-direction: column;
  }
  .navegacion {
    padding: 0px;
    margin-bottom: 10px;
    width: 100;


  }
  .navegacion__menu {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
  }
  .navegacion__menu li{
    margin: 0px;
    margin-right: 10px;

  }

  .navegacion__menu li a { 
    padding: 0px;
    width: 130px;

  }
  .copy {
    font-size: 13px;
  
  }


}

@media only screen and (min-width: 1024px) {
  
}



/*PEDIDOS -------------------------------------------*/

#body {
  background-image:  url(../imagenesD1/tipos-cerveza-artesanal.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
width: 450px;
margin: auto;
background: rgba(0, 0, 0, 0.5);
padding: 10px 20px;
box-sizing:border-box ;
margin-top: 20px;
border-radius: 10px;
}

#h2-pedidos {
  color:rgb(131, 112, 7);
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;

}

textarea {
 min-height: 100px;
 max-height: 200px;
 max-width: 100%;
}
#boton {
  background: #52524a;
  color: #fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}
.link {
  display: flex;
  justify-content: center;
  width: 100%;

}
.link a {
    color:beige;
    text-transform: uppercase;
    padding-left: 40px;
    text-decoration: none;

}
@media (max-width:480px) {
  form{
     width: 100%;
  }
}


/*NOSOTROS -------------------------------------------*/
  

.somos {
  color: black;
  background-color: beige;
  padding: 20px 20px;
}


.somos__titulo{
  margin-bottom: 20px;
  text-align: center;
}

.somos__parrafo{
  font-size: 23px;
  
}



.imagen {
  width: 100%;
}

.menu {
  color: brown;
  background-color: beige;
}

.gallery-conteiner-nosotros {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 350px;
  padding: 10px;
  grid-gap: 15px;
}
.gallery__img-nosotros {
   width: 100%;
   height:100%;
   object-fit: cover;
}
 
.gallery__item-nosotros:nth-child(3) {
  grid-row-start: span 2;
}

.footer__nosotros {
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
  background-color: beige;

  
}
.footer__nosotros ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer__nosotros ul li a {
  color:rgb(18, 1, 1);
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}




/* NUESTRAS CERVEZAS ------------------------------------- */


.a-nc{
  text-decoration: none;
  font-size: 20px;
}

#body-nuestrasCervezas{
background-color: beige;
}

.cerveza__info--titulo{
color: red;
}

.cerveza__info{
width: 60%;
}

.contenedor__de__imagen{
position: relative;
width: 40%;
display: flex;
justify-content: center;
}

.cerveza__imagen{
width: 50%;
}

.cerveza{
display: flex;
}

#header-nuestrasCervezas {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.navegacion__menu-nuestrasCervezas{
list-style: none;
display: flex;
margin: 15px;
}

#header-nuestrasCervezas h1{
margin-bottom: 25px!important;
}

.navegacion__menu-nuestrasCervezas li{
margin-left: 15px;
}

.navegacion__menu-nuestrasCervezas li a{
position: relative;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
color: black;
}

.navegacion__menu-nuestrasCervezas li a:hover{
bottom: 3px;
text-decoration: underline;
color: red;
}

.cervezas-conteiner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.cervezas-conteiner a{
padding: 2px;
background-color: rgb(236, 236, 185);
color: rgb(99, 61, 153);
border: 1px solid

}
.cerveza{
background-color: rgb(239, 224, 176);
margin-bottom: 20px;
padding: 10px;
width: 80%;

}

h2 ,  h3 , p {
padding: 10px 0px;
}